.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
  padding: 10px 20px;
  margin-bottom: 80px;
  border-radius: 10px;
}
.header a {
  text-decoration: none;
  color: #6552f4;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer {
  text-align: center;
  background-color: #303030;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
.heart {
  display: inline-block; /* تغییر از flex به inline-block */
  margin-left: 5px; /* فاصله بین متن و قلب */
  width: 10px;
  height: 10px;
  background-color: red;
  transform: rotate(-45deg);
  position: relative; /* اضافه شده */
  /* برای از بین بردن حالت دوتایی */
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -5px;
  left: 0;
}

.heart::after {
  left: 5px;
  top: 0;
}
